
<body>
    <p>Så du kunne godt tænke dig at se vejret hva? Du er da kommet lidt på afveje</p>
    <h1>MEN FRYGT EJ!</h1>
    <p>Jeg har bikset en lille hjemmeside op til dig - Den viser godt nok kun den laveste temperatur i Danmark samt koordinatsættet lol</p>
    <p>Det er altså {}C</p>
    <p>på koordinatsættet {},{}</p>
    <p>(men altså du kan da lige få et link til google Maps)</p>
    <a href="https://www.google.com/maps/place/{},{}">(DU SKAL KLIKKE HER!)</a>
    <p>... og inden du spørger: </p>
    <h>HvOrFoR Er dEr InTeT NaVn pÅ KoOrDinAtByEn???</h>
    <p>...Can't be bothered. Fuck det >:3 </p>
</body>
