<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hvor Koldt kan det blive?</title>
    <script defer src="assets/scripts/fetchWeather.js"></script>
    <link rel="stylesheet" href="assets/styles/style.css">
</head>

<body>
    <p>Så du kunne godt tænke dig at se vejret hva? Du er da kommet lidt på afveje</p>
    <h1>MEN FRYGT EJ!</h1>
    <p>Jeg har bikset en lille hjemmeside op til dig - Den viser godt nok kun den laveste temperatur i Danmark samt koordinatsættet... Du må leve med de konsekvenser, som kommer af dine valg.</p>
    <p id="temp">TEMP NOT FOUND</p>
    <p id="coord">COORDS NOT FOUND</p>
    <p>(men altså du kan da lige få et link til google Maps)</p>
    <a id="glink" href="google.com">Det virkede ikke helt... så gå tilbage til google her</a>
    <p>... og inden du spørger: </p>
    <h1>HvOrFoR Er dEr InTeT NaVn pÅ KoOrDinAtByEn???</h1>
    <p>...Fordi jeg er doven! >:3 </p>
</body>

</html>